body  {
    
    width: 1200px;
    height: 700px;
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    object-fit:fill;
}

img{
    float: right;
}
p{
    font-size: 12pt;
}


        h1 {color: darkslategrey;}
        h2 {color: black;}
        h3 {color:darkslateblue;}
        p {color: black;}
h4{color:darkgreen;}
li a{color:blue;}